<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Link</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid #000;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
  <%- body %>
    <script>
      function copyLinkToClipboard(link, text) {
        const site = `${link}/${text}`
        navigator.clipboard.writeText(site).then(() => {
          alert('Copied to clipboard');
        }).catch(err => {
          console.error('Error copying text: ', err);
        });
      }

      function deleteSite(id) {
        if (confirm('Are you sure you want to delete this site?')) {
          fetch(`/sites/${id}`, {
            method: 'DELETE'
          }).then((response) => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then((data) => {
            alert(data.message);
            location.reload();
          })
          .catch((error) => {
              console.error('Error deleting site: ', error);
            });
        }
      }

      function editSite(id) {
        fetch(`/sites/${id}`,{
          method: 'GET'
        })
        .then((response) => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then((data) => {
          document.getElementById('form-name').value = data.data.name;
          document.getElementById('form-target').value = data.data.target;
          document.getElementById('form-source').value = data.data.source;
          document.getElementById('form-submit').innerText = 'Update Site';
          document.getElementById('form').setAttribute('action', `/sites/${id}?_method=PATCH`);
        })
        .catch((error) => {
          console.error('Error fetching site: ', error);
        });
      }
    </script>
</body>

</html>